body {
  background-color: #282c34;
}
.AppHeader {
  margin: auto;
  font-size: calc(5px + 2vmin);
  color: white;
  text-align: center;
}

.AppContent {
  margin: auto !important;
  width: 380px;
  min-height: 700px;
}

.AppItem {
  min-height: 500px;
}

.AppEnd {
  padding-top: 100px;
  color: lightgreen;
  font-size: 32px;
  text-align: center;
}