body {
  background-color: #282c34;
  text-align: center;
}

.AppHeader {
  margin: auto;
  font-size: calc(5px + 2vmin);
  color: white;
  text-align: center;
}

.AppContent {
  margin: auto !important;
  width: 380px;
  min-height: 500px;
}

.AppLoading {
  margin-top: 250px;
  width: 100px !important;
  height: 100px !important;
}

.AppItem {
  min-height: 500px;
}

.AppMessageEnd {
  padding: 100px 0;
  color: lightgreen;
  font-size: 32px;
  text-align: center;
}